<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Psicolegria - INICIO</title>
	<link media="all" rel="stylesheet" type="text/css" href="../static/inicio/css/all.css" />
	<script src="../static/inicio/js/main.js" type="text/javascript"></script>
</head>
<body>
	<div id="wrapper">
		<div id="header">
			<div class="header-block">
				<img src="../static/inicio/images/logo.png" style="height: 70px; width: auto; padding-left: 45px;">
				 
			</div>
		</div>
		<div class="intro" style="margin-top: -58px;">
			<div class="intro-block">
				<div class="gallery-holder">
					<img src="../static/inicio/images/img0.png" width="505" height="254" alt="image description" />
				</div>
				<div class="text-block">
					<h2>SISTEMA DE MONITORIZACIÓN DE LA
						FRECUENCIA CARDIACA EN NIÑOS CON SÍNDROME DE
						DOWN  
						</h2>
					<p>Una solucion para los niños con síndrome de Down que
						enfrenta desafíos importantes.</p>
					<div class="box">
						<a href="login" class="download">INICIA SESIÓN</a>
						<span class="or">o</span>
						<a href="login" class="check">REGÍSTRATE AHORA!!!</a>
					</div>
				</div>
			</div>
		</div>
		<div id="main">
			<div class="block">
				<div class="holder">
					<div class="frame">
						<div class="content">
							<ol class="reviews">
								<li>
									<blockquote>
										<div class="review-box">
											<div class="holder">
												<div class="frame">
													<q>El sistema de monitoreo reduce los riesgos de complicaciones graves, permitiendo una intervención temprana y efectiva en cualquier alteración cardíaca.</q>
												</div>
											</div>
										</div>
										<cite>
											<a href="#" class="img-holder"><img src="../static/inicio/images/comentario.png" width="60" height="60" alt="image description" /></a>
											<span class="user-details">
												<a href="#">Maria Gonzalez</a>
												<em>Especialista en salud</em>
											</span>
										</cite>
									</blockquote>
								</li>
								<li>
									<blockquote>
										<div class="review-box">
											<div class="holder">
												<div class="frame">
													<q>Con la monitorización en tiempo real, los padres reciben alertas inmediatas, lo que les permite actuar rápidamente y asegurar el bienestar de sus hijos.</q>
												</div>
											</div>
										</div>
										<cite>
											<a href="#" class="img-holder"><img src="../static/inicio/images/comentario.png" width="60" height="60" alt="image description" /></a>
											<span class="user-details">
												<a href="#">Carlos Ramirez</a>
												<em>Padre de familia</em>
											</span>
										</cite>
									</blockquote>
								</li>
							</ol>
							<ol class="reviews">
								<li>
									<blockquote>
										<div class="review-box">
											<div class="holder">
												<div class="frame">
													<q>Gracias al análisis basado en redes neuronales, el sistema optimiza la atención médica al reducir la carga de trabajo de los profesionales de la salud.</q>
												</div>
											</div>
										</div>
										<cite>
											<a href="#" class="img-holder"><img src="../static/inicio/images/comentario.png" width="60" height="60" alt="image description" /></a>
											<span class="user-details">
												<a href="#">Laura Martínez</a>
												<em>Profesional en tecnologías médicas</em>
											</span>
										</cite>
									</blockquote>
								</li>
								<li>
									<blockquote>
										<div class="review-box">
											<div class="holder">
												<div class="frame">
													<q>Este sistema no solo mejora la calidad de vida de los niños, sino que también reduce los costos médicos al evitar tratamientos de emergencia innecesarios.</q>
												</div>
											</div>
										</div>
										<cite>
											<a href="#" class="img-holder"><img src="../static/inicio/images/comentario.png" width="60" height="60" alt="image description" /></a>
											<span class="user-details">
												<a href="#">Alejandro Fernández</a>
												<em>Consultor en salud digital</em>
											</span>
										</cite>
									</blockquote>
								</li>
							</ol>
							<form action="#" class="contact-form">
								<fieldset>
									<label for="mail">SOPORTE TECNICO</label>
									<div class="text">
										<input type="text" value="Realiza tu Pregunta..." id="mail"/>
									</div>
									<input type="submit" value="Enviar" class="btn-submit" />
								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>
			
			<div class="container">
				<div class="container-holder">
					<div class="items-holder">
						<div class="item">
							<div class="img-holder">
								<a href="#"><img src="../static/inicio/images/img8.png" width="119" height="92" alt="image description" /></a>
							</div>
							<h3>Monitoreo en Tiempo Real</h3>
							<p>El sistema de monitorización en tiempo real detecta las alteraciones cardíacas con precisión, enviando alertas inmediatas a los cuidadores cuando se detecta alguna irregularidad.</p>
						</div>
						<div class="item">
							<div class="img-holder">
								<a href="#"><img src="../static/inicio/images/img9.png" width="95" height="92" alt="image description" /></a>
							</div>
							<h3>Detección de Alteraciones Precisas</h3>
							<p>Utiliza redes neuronales para analizar los datos de frecuencia cardíaca y detectar patrones que puedan indicar alteraciones, mejorando la precisión y velocidad de la detección.</p>
						</div>
						<div class="item">
							<div class="img-holder">
								<a href="#"><img src="../static/inicio/images/img10.png" width="104" height="91" alt="image description" /></a>
							</div>
							<h3>Aplicación Móvil Integrada</h3>
							<p>La aplicación móvil está integrada con los sensores del wearable, proporcionando una interfaz amigable y fácil de usar para monitorear la salud del niño en tiempo real.</p>
						</div>
					</div>
					<div class="items-holder">
						<div class="item">
							<div class="img-holder">
								<a href="#"><img src="../static/inicio/images/img10.png" width="104" height="91" alt="image description" /></a>
							</div>
							<h3>Alertas Personalizadas y Oportunas</h3>
							<p>Alertas personalizadas y oportunas permiten a los padres y cuidadores actuar rápidamente ante cualquier anomalía, mejorando la respuesta ante emergencias.</p>
						</div>
						<div class="item">
							<div class="img-holder">
								<a href="#"><img src="../static/inicio/images/img8.png" width="119" height="92" alt="image description" /></a>
							</div>
							<h3>Monitoreo Continuo con Wearable</h3>
							<p>La integración con dispositivos de monitoreo wearable asegura que los datos de frecuencia cardíaca se recopilen y se envíen sin intervención manual, garantizando una vigilancia constante.</p>
						</div>
						<div class="item">
							<div class="img-holder">
								<a href="#"><img src="../static/inicio/images/img9.png" width="95" height="92" alt="image description" /></a>
							</div>
							<h3>Reducción de Costos Médicos</h3>
							<p>El sistema no solo mejora la calidad de vida de los niños, sino que también reduce costos médicos al detectar problemas cardíacos antes de que se conviertan en emergencias graves.</p>
						</div>
					</div>
				</div>
			</div>
			
			
		</div>
		<div id="footer">
			<div class="footer-holder">
				<p>&copy; 2025 SISTEMA DE MONITORIZACIÓN, Inc. All rights reserved</p>
				
			</div>
		</div>
	</div>
</body>
</html>